.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid #c16e0e;
    padding: 10px;
    width: 320px;
    height: 320px;
    margin-top: 200px;
}
.grid-item{

    border: 2px solid blue;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    width: 100px;
    height: 100px;
    cursor:hand;
}
.btop{
    border-top: 0px;
}
.bleft{
    border-left: 0px;
}
.bbot{
    border-bottom: 0px;
}
.bright{
    border-right:0px;
}